*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}
.logo{
    width: 150px;
    cursor:pointer;
}

.sign>a{
    text-decoration: none;
    font-size: 24px;
    color: #db0001;
}
.header{
    display: flex;
    align-items: center;
 
    justify-content: space-between;
    padding: 30px;
}
body{
    background-color: black;
    background-size: cover;
}

.container{
   
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 30px;
    padding: 0px 30px ;
    
}
form{
    background-color: white;
    width: 420px;
    height: 600px;
    display: grid;
    grid-template-columns: 1fr;
     gap:10px;
    padding: 30px;
} 
.para{
    width:420px;
   margin-left: 230px ;
   
}
@media screen and (width < 550px){

    .logo{
        width: 100px;
        cursor:pointer;
    }
    
    .sign>a{
        text-decoration: none;
        font-size: 16px;
        color: #db0001;
    }
    .header{
        display: flex;
        align-items: center;
     
        justify-content: space-between;
     
    }
    form{
        background-color: white;
        width: 300px;
        height: 450px;
        display: grid;
        grid-template-columns: 1fr;
         gap:10px;
        padding: 20px;
    } 

    form h1{
        font-size: 24px;
    }
    .container a{
        font-size: 12px;
    }
    .para{
        
        font-size: 12px;
        width:300px;
       margin-left: 120px ;
       
    }

}

