*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
.container{
    width: 400px;
    height: 600px;
    border: 2px solid ;
    display: grid;
    grid-template-columns: 1fr;
    padding: 50px;
    margin: 30px;
    align-items: center;
    background-color: black;
    justify-content: center;
    align-content: center;
    gap: 20px;
    
   
}
/* input[type=email]:active{
    border: 5px solid red;
} */
.email, .password{
    height: 40px;
    padding-left: 2px;
    width: 240px;

}
button>a{

    text-decoration: none;
  color: #fff;
  

}
a{
    text-decoration: none;
}
.signup>a{
    color: #fff;
   font-size: 20px;
}


.email{
    border: 1px  solid #ccc ;
  
   
    /* box-shadow: 3px solid white; */
}
.email:focus{
    outline: 1px solid white;
    /* transform: translatey(-10px);
    font-size: 10px; */
    outline-offset: 2px;
}
.email::placeholder:focus{
    transform: translatey(-10px);
    font-size: 10px;
}

.password:focus{
    outline: 1px solid white;
    font-size: 10px;
 line-height: 6px;
 text-align: left;
}
body{
  display: flex;
  justify-content: center;
  align-items: center;
}

