*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif; 
}

header{
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    
}
header>img{
    width: 150px;
}
main{
    display: grid;
    grid-template-columns: 1fr;
    place-self: center;
 margin-top: 50px;
    width: 320px;

    gap: 10px;
}
.circle{
    display:flex;
    flex-direction: column;
    justify-content: center;
      align-items: center;
    gap: 10px;

}
.content>button{
    width: 300px;
    height: 40px;
    cursor: pointer;
}
button>a{
    text-decoration: none;
    color: white;
    font-size: 1rem;
}
.content{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
}
.icon{
    font-size:20px;
}
.icona{
    
        width: 60px;
        height: 60px;
        border-radius: 50%;
        border: 5px solid ;
        margin-left:5%;
       
    
}@media screen and (width < 400){
   .image{
    
    width:100px;
   }
}
 