*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;

}
header{
    display: flex;
    justify-content: space-between;
align-items: center;
padding: 20px;
}
img{
    width: 150px;
}
.main-container{
    margin: 10px;
    display: grid;
    grid-template-columns:repeat(4,1fr);
    gap: 20px;
    
}
main{
   
  display: grid;
padding-top: 50px;
  justify-content: center;
  align-items: center;
}
main>h2{
  font-size: 30px;
}
.mobile{
    width: 300px;
    padding: 10px;
    display: grid;
    grid-template-columns: 1fr;
    border: 1px solid;
    border-radius: 10px;
    gap: 10px;

}
.mble{
    background-color: rgb(87, 87, 224);
    padding: 5px;
    border-radius: 5px;
    color:#fff ;
    margin-bottom: 10px;
}
.basic{
    width: 300px;
    /* padding: 10px; */
    display: grid;
    grid-template-columns: 1fr;
    border: 1px solid;
    border-radius: 10px;
    padding: 10px;
    gap: 10px;
}
.most{
    background-color: rgb(60, 60, 208);
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    

}
.most>span{
   margin-left: 10px; 
   color: #fff;

}
.bse{
    background-color: rgb(30, 30, 96);
    color: #fff;
    margin-top: 10px;
   
    
}
.mobile:hover{
box-shadow: 10px 2px 2px #eee;

}


.footer{
    height:100px;
    font-size: 12px;
    color:#ccc;
    margin-left: 10%;
    margin-right: 10%;
  display: grid;
 
}
button{
    width: 400px;
    height: 50px;
    margin-left: 400px;
    background-color: #db0001;

}
button>a{
    color: #fff;
    font-size: 20px;
}
.hidden{
    display: none;
}


@media screen and (width < 900px){
   
    .containter{
        display: none;
    }
    .hidden{
        display: block;
    }

    .condo{
        width: 400px;
        display: grid;
       margin-top: 40px;
       place-self: center;
    }
    .all{
        width: 400px;
        padding: 10px;
        display: grid;
        gap: 10px;
        grid-template-columns: repeat(4,1fr);
    }
    .mdm{
height: 80px;
padding: 10px;
border-radius: 10px;
        border: 2px solid;
    }
  .mdm:hover{
    background-color:#5875bf;
  }
  .mst{
    height: 100px;
   
    border-radius: 10px;
            border: 2px solid;
        }
        .mst>.bsc{
            font-size:10px;
         border-top-left-radius: 10px;
         border-top-right-radius: 10px;
            padding: 10px;
            background-color:#3a3939;
            color: white;
        }

      .mst:hover{
        background-color:#5875bf;
      }
      .down{
        margin: 20px;
      }

      .stdd{
        height: 80px;
        padding: 10px;
        border-radius: 10px;
                border: 2px solid;
            }
          .stdd:hover{
            background-color:#5875bf;
          }
          .prm{
            height: 80px;
            padding: 10px;
            border-radius: 10px;
                    border: 2px solid;
                }
              .prm:hover{
                background-color:#5875bf;
              }
           .items{
            display: grid;
            grid-template-columns: repeat(2,1fr);
            gap:200px;
            padding: 20px 0px ;
           }
           .item1{
            display: grid;
            grid-template-columns: repeat(2,1fr);

           }
           .footer{
            padding: 10px;
           }
              
           .footer>p{
            display: inline-block;
            width: 300px;
         margin-left:50px;
           }
           button{
            width: 300px;
           margin-left:60px;
           }
           
}


@media screen and (width < 400px){
   
    .containter{
        display: none;
    }
    .hidden{
        display: block;
    }

    .condo{
        width: 300px;
        display: grid;
       margin-top: 40px;
       place-self: center;
    }
    .all{
        width: 300px;
        padding: 10px;
        display: grid;
        gap: 10px;
        grid-template-columns: repeat(4,1fr);
    }
    .mdm{
height: 80px;
padding: 10px;
border-radius: 10px;
        border: 2px solid;
    }
  .mdm:hover{
    background-color:#5875bf;
  }
  .mst{
    height: 100px;
   
    border-radius: 10px;
            border: 2px solid;
        }
        .mst>.bsc{
            font-size:10px;
         border-top-left-radius: 10px;
         border-top-right-radius: 10px;
            padding: 10px;
            background-color:#3a3939;
            color: white;
        }

      .mst:hover{
        background-color:#5875bf;
      }
      .down{
        margin: 20px;
      }

      .stdd{
        height: 80px;
        padding: 10px;
        border-radius: 10px;
                border: 2px solid;
            }
          .stdd:hover{
            background-color:#5875bf;
          }
          .prm{
            height: 80px;
            padding: 10px;
            border-radius: 10px;
                    border: 2px solid;
                }
              .prm:hover{
                background-color:#5875bf;
              }
           .items{
            display: grid;
            grid-template-columns: repeat(2,1fr);
            gap:200px;
            padding: 20px 0px ;
           }
           .item1{
            display: grid;
            grid-template-columns: repeat(2,1fr);

           }
          
           .footer>p{
            display: inline-block;
            width: 300px;
         margin-left:0px;
           }
           button{
            width: 300px;
           margin-left:0;
           }
           
}