*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif; 
}

header{
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    
}
header>img{
    width: 150px;
}
main{
    display: grid;
    grid-template-columns: 1fr;
    place-self: center;

    width: 320px;

    gap: 10px;
}
.circle{
    display:flex;
    flex-direction: column;
    justify-content: center;
      align-items: center;
    gap: 10px;

}
.content>button{
    width: 300px;
    height: 40px;
    cursor: pointer;
}
button>a{
    text-decoration: none;
    color: white;
    font-size: 1rem;
}
.content{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
}
.icon{
    font-size:20px;
}
.icona{
    
        width: 60px;
        height: 60px;
        border-radius: 50%;
        border: 5px solid ;
        margin-left:5%;
       
    
}

/* @media screen and (width < 300px){

    header{
     display: flex;
    justify-content:space-between;
    align-items: center;
    width: 100%;

        
    }
    header>img{
        width: 100px;
    }
    
    .sinout>a{
        font-size:12px;
    }
    main{
        display: grid;
        grid-template-columns: 1fr;
        place-self: center;
      align-items: center;
        width:300px;
    
        gap: 10px;
    }
    .circle{
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10px;
    
    }
    .circle>.icona{
        width: 40px;
        height: 40px;
        border-radius: 50%;
        border: 5px solid ;
        margin-left:5%;

    }
    .circle>span{
        font-size: 10px;

    }
    .circle>h1{
        font-size: 16px;
    }
    .content>p{
        font-size: 14px;
    }
    .content{
        display: flex;
        justify-content: center;
        align-items: center;
    }
   


}


@media screen and (width < 530px){
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
main{
    display: grid;
    grid-template-columns: 1fr;
    place-self: center;

    width: 300px;

    gap: 10px;
}
.circle>h1{
    font-size: 22px;
}

header>img{
    width: 120px;
}
.circle{
    display: flex;
    flex-direction: column;
    align-items: center;
}


.icona{
    
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 5px solid ;
    margin-left:5%;
   

}
.content{
    display: flex;
    flex-direction: column;
    gap: 10px;
  
}
.content>button{
    width:180px;
    height: 40px;
    cursor: pointer;
}
}



@media screen and (width < 700px){
    header{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .circle>h1{
        font-size: 32px;
    }
    .sinout>a{
       font-size:24px;
    }
    
    header>img{
        width: 140px;
    }
    .circle{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    main{
        main{
            display: grid;
            grid-template-columns: 1fr;
            place-self: center;
        
            width: 300px;
        
            gap: 10px;
        }
    }
    .content{
        padding:10px 20px;
    }
    
    .icona{
        
        width: 50px;
        height: 50px;
        border-radius: 50%;
        border: 5px solid ;
        margin-left:5%;
       
    
    }
    .circle>span{
        font-size: 16px;
    }
    .content{
        display: flex;
        flex-direction: column;
        gap: 10px;
      
    }
    .content>button{
        width: 280px;
        height: 40px;
        cursor: pointer;
    }
    .content>p{
        font-size: 16px;
    }
    .content>button{
        width: 320px;
    }
    }
    
@media screen and (width < 950px){
    header{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .circle>h1{
        font-size: 32px;
    }
    .sinout>a{
       font-size:24px;
    }
    
    header>img{
        width: 140px;
    }
    .circle{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    main{
        
            display: grid;
            grid-template-columns: 1fr;
            place-self: center;
        
            width: 320px;
        
            gap: 10px;
        
    }
    .content{
        padding:10px 20px;
    }
    
    .icona{
        
        width: 50px;
        height: 50px;
        border-radius: 50%;
        border: 5px solid ;
        margin-left:5%;
       
    
    }
    .circle>span{
        font-size: 16px;
    }
    .content{
        display: flex;
        flex-direction: column;
        gap: 10px;
      
    }
    .content>button{
        width: 280px;
        height: 40px;
        cursor: pointer;
    }
    .content>p{
        font-size: 16px;
    }
    .content>button{
        width: 320px;
    }
    } */
/*     
@media screen and (width < 1200px){
    header{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .circle>h1{
        font-size: 32px;
    }
    .sinout>a{
       font-size:24px;
    }
    
    header>img{
        width: 150px;
    }
    .circle{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    main{
        main{
            display: grid;
            grid-template-columns: 1fr;
            place-self: center;
        
            width: 320px;
        
            gap: 10px;
        }
    }
    .content{
        padding:10px 20px;
    }
    
    .icona{
        
        width: 50px;
        height: 50px;
        border-radius: 50%;
        border: 5px solid ;
        margin-left:5%;
       
    
    }
    .circle>span{
        font-size: 20px;
    }
    .content{
        display: flex;
        flex-direction: column;
        gap: 10px;
      
    }
    .content>button{
        width: 400px;
        height: 40px;
        cursor: pointer;
    }
    .content>p{
        font-size: 20px;
    }
    .content>button{
        width: 400px;
    }
    }
     */
