*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Arial, sans-serif;

}

body{
    background: #000;

    color: #fff;
}
.header{
    width: 100%;
    height: 100vh;
        background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)), url("./images/background\ image.jpg");
    background-size: cover;
    background-position: center;
padding: 10px 8%;
position: relative;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
    width: 150px;
    cursor:pointer;
}
.lang-btn{
    display: inline-block;
    align-items: center;
    background-color: transparent;
    border:1px solid #ccc  ;
    color: #fff;
    padding:5px ;
    outline: none;
    border:2px solid;
}
.sign{
    background-color: red;
    width: 100px;
    height: 30px;
    padding: 7px;
}



div a{
    text-decoration: none;
    color: #fff;
}
.center-text{
    height: 100%;
 display: grid;
 grid-template-columns:1fr ;
 /* grid-template-rows:80px 50px 30px 30px ; */
align-items: center;
justify-items: center;
align-content: center;
text-align: center;
}
.center-text h1{
    font-size: 60px;
    line-height:70px ;
    font-weight: 600px;
    max-width: 650px;
}
.center-text p{
    font-weight: 400;
    margin-bottom: 20px;
}
.email-address{
    background: #fff;
    border-radius: 4px;
    display: flex;
    align-items: center;
    margin-top: 30px;
    /* overflow: hidden; */
}
.email-address:focus{
    outline: 1px solid white;
    
    outline-offset: 2px;
}
.email-address input{
    flex: 1;
    height: 30px;
    border: 0;
    outline: 0;
    margin-left: 20px;

}
input:focus::placeholder{
    transform: translateY(-10px);
    font-size: 10px;

}
.email-address .btn{
    background-color: #db0001;
    color: #fff;
   border: 0;
   outline: 0;
   font-size: 16px;
   cursor: pointer;
   padding: 15px 20px;
    

}
.container h2{
    font-size: 28px;
}
.container select{
    background-color:transparent;
    color: #fff;
}
.sub{
    width: 250px;
    height: 300px;
    /* border: 2px solid ; */
}

.kehi{
    background-image: url("./images/do.webp");
    width:200px;
    height: 280px;
    background-size: auto;
    background-repeat: no-repeat;
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    align-items: start;
    /* gap: 10px; */
   
}
.second{
    background-image: url("./images/bhool.webp");
    width:200px;
    height: 280px;
    background-size: auto;
    background-repeat: no-repeat;
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    align-items: start;
    /* gap: 10px; */
   
}
.third{
    background-image: url("./images/dont.webp");
    width:200px;
    height: 280px;
    background-size: auto;
    background-repeat: no-repeat;
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    align-items: start;
    /* gap: 10px; */
   
}
.fourth{
    background-image: url("./images/family.webp");
    width:200px;
    height: 280px;
    background-size: auto;
    background-repeat: no-repeat;
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    align-items: start;
    /* gap: 10px; */
   
}
.fifth{
    background-image: url("./images/melyazlagaa.webp");
    width:200px;
    height: 280px;
    background-size: auto;
    background-repeat: no-repeat;
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    align-items: start;
    /* gap: 10px; */
   
}
.sixth{
    background-image: url("./images/saripodha.webp");
    width:200px;
    height: 280px;
    background-size: auto;
    background-repeat: no-repeat;
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    align-items: start;
    /* gap: 10px; */
   
}
.seventh{
    background-image: url("./images/time.webp");
    width:200px;
    height: 280px;
    background-size: auto;
    background-repeat: no-repeat;
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    align-items: start;
    /* gap: 10px; */
   
}
.eighth{
    background-image: url("./images/trans.webp");
    width:200px;
    height: 280px;
    background-size: auto;
    background-repeat: no-repeat;
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    align-items: start;
    /* gap: 10px; */
   
}
.ninth{
    background-image: url("./images/time\ cut.webp");
    width:200px;
    height: 280px;
    background-size: auto;
    background-repeat: no-repeat;
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    align-items: start;
    /* gap: 10px; */
   
}
.tenth{
    background-image: url("./images/do.webp");
    width:200px;
    height: 280px;
    background-size: auto;
    background-repeat: no-repeat;
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    align-items: start;
    /* gap: 10px; */
   
}

.main-container{
    padding: 20px;
 width: 100%;
    /* height: 100vh; */
  border: 2px solid black;
    display: flex;
    gap: 10px;
scrollbar-width: none;
    overflow-x: scroll; 

}

main{
 margin: 0px 200px ;
}

.kehi:hover{
    transform:scale(1.2,1.1);
    cursor:pointer;
}
.second:hover{
    transform:scale(1.2,1.2);
    cursor:pointer;
}
.third:hover{
    transform:scale(1.2,1.2);
    cursor:pointer;
}
.fourth:hover{
    transform:scale(1.2,1.2);
    cursor:pointer;
}
.fifth:hover{
    transform:scale(1.2,1.2);
    cursor:pointer;
}
.sixth:hover{
    transform:scale(1.2,1.2);
    cursor:pointer;
}
.seventh:hover{
    transform:scale(1.2,1.2);
    cursor:pointer;
}
.eighth:hover{
    transform:scale(1.2,1.2);
    cursor:pointer;
}
.ninth:hover{
    transform:scale(1.2,1.2);
    cursor:pointer;
}
.tenth:hover{
    transform:scale(1.2,1.2);
    cursor:pointer;
}

  

.sub-content{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    /* padding: 30px ; */

}
.tv , .smile , .scope ,.arrow{
    margin: 10px;
    padding: 10px;
    width: 260px;
    height: 160px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    border-radius: 10px;
    background-color: rgb(18, 36, 36);

}
.under{
    margin-top: 20px;
    font-size: 33px;
    margin-left: 200px;
}
.arou{
    margin-top: 15px;
    font-size: 33px;
    margin-left: 200px;
}
.sunder{
    margin-top: 30px;
    font-size: 33px;
    margin-left: 200px;
}

.munder{
    margin-top: 20px;
    font-size: 33px;
    margin-left: 200px;
}
.accordion{
    margin: 60px;
    width: 100%;
    /* max-width:; */

}
.accordion li{
    list-style: none;
    width: 100%;
    padding: 5px;

}
.accordion li label{
    display: flex;
    align-items: center;
    padding: 20px;
    font-size:18px;
    font-weight: 500;
    background: #303030;
    margin-bottom: 2px;
    cursor: pointer;
    position: relative;
    

}
label::after{
    content: '+';
    font-size: 34px;
    right: 20px;
    position: absolute;
    transition:trasform  0.5s;
    cursor:pointer;

}
input[type="radio"]{
    display: none;

}
.accordion .content{

    background: #303030;
    text-align: left;
    padding: 0 10px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s, padding 0.5s;
}
.accordion input[type="radio"]:checked + label + .content{
    max-height: 600px;
    padding: 30px 20px; 
}
.accordion input[type="radio"]:checked + label::after{
    transform: rotate(135deg);
}
.email-address   {
    max-width: 600px; 
    margin: 20px auto 60px;
}
.nbr a{
    text-decoration: underline;
    color: #949090;
    font-size: small;
}
footer{
    padding: 50px;
   
}
.footer{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 10px ;
}

@media screen and (width < 1500px){
   
    

main{
    margin:0px 150px;
   }
   .container>h2{
    font-size: 16px;
    
   }
   /* .sub-content{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    padding: 30px ;
} */
.tv , .smile , .scope ,.arrow{
    margin: 10px;
    padding: 10px;
    width: 250px;
    height: 160px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    border-radius: 10px;
    background-color: rgb(18, 36, 36);

}
.under{
    margin-top: 20px;
    font-size: 30px;
    margin-left: 200px;
}
.arou{
    margin-top: 20px;
    font-size: 30px;
    margin-left: 200px;
}
.sunder{
    margin-top: 20px;
    font-size: 30px;
    margin-left: 200px;
}

.munder{
    margin-top: 15px;
    font-size: 30px;
    margin-left: 200px;
}
.accordion{
    margin: 60px;
    width: 100%;
    max-width:1200px;

}

}
@media screen and (width < 1380px){
   
    

main{
    margin:0px 50px;
   }
   .container>h2{
    font-size: 16px;
    
   }
   .sub-content{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    padding: 30px ;
}
.tv , .smile , .scope ,.arrow{
    margin: 10px;
    padding: 10px;
    width: 230px;
    height: 160px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    border-radius: 10px;
    background-color: rgb(18, 36, 36);

}
.under{
    margin-top: 20px;
    font-size: 30px;
    margin-left: 150px;
}
.arou{
    margin-top: 20px;
    font-size: 30px;
    margin-left: 150px;
}
.sunder{
    margin-top: 20px;
    font-size: 30px;
    margin-left: 150px;
}

.munder{
    margin-top: 15px;
    font-size: 30px;
    margin-left: 150px;
}
.accordion{
    margin: 60px;
    width: 100%;
    max-width:990px;

}




}


@media screen and (width < 1150px){
   
    

    main{
        margin:0px 50px;
       }
       .container>h2{
        font-size: 16px;
        
       }
       .sub-content{
        display: grid;
        grid-template-columns: repeat(4,1fr);
        padding: 30px ;
    }
    .tv , .smile , .scope ,.arrow{
        margin: 10px;
        padding: 10px;
        width: 180px;
        height: 160px;
        display: flex;
        flex-direction: column;
        gap: 20px;
        border-radius: 10px;
        background-color: rgb(18, 36, 36);
    
    }
    .under{
        margin-top: 18px;
        font-size: 25px;
        margin-left: 130px;
    }
    .arou{
        margin-top: 5px;
        font-size: 25px;
        margin-left: 130px;
    }
    .sunder{
        margin-top: 18px;
        font-size: 25px;
        margin-left: 130px;
    }
    
    .munder{
        margin-top:3px;
        font-size: 25px;
        margin-left: 130px;
    }
    .accordion{
        margin: 60px;
        width: 100%;
        max-width:900px;
    
    }
    
    
    
    
    }

@media screen and (width < 900px){
    .center-text h1{
        font-size: 40px;
        line-height:60px ;
        font-weight: 500px;
        max-width: 650px;
    }
    .center-text p{
        font-weight: 300;
        margin-bottom: 10px;
    }
    

        main{
            margin:0px 50px;
           }
           .container>h2{
            font-size: 16px;
            
           }
           .sub-content{
            display: grid;
            grid-template-columns: repeat(2,1fr);
            padding: 30px ;
        }
        .tv , .smile , .scope ,.arrow{
            margin: 10px;
            padding: 10px;
            width: 350px;
            height: 160px;
            display: flex;
            flex-direction: column;
            gap: 45px;
            border-radius: 10px;
            background-color: rgb(18, 36, 36);
        
        }
        .under{
            margin-top:-20px;
            margin-bottom: 20px;
            font-size: 30px;
            margin-left: 300px;
        }
        .arou{
            margin-top: -50px;
            font-size: 50px;
            margin-left: 300px;
        }
        .sunder{
            margin-top:-20px;
            font-size: 35px;
            font-weight: 30;
            margin-left: 300px;
        }
        
        .munder{
            margin-top:-30px;
            font-size: 40px;
            margin-left: 300px;
        }
        .accordion{
            margin: 60px;
            width: 100%;
            max-width:700px;
        
        }
    
        }
          
@media screen and (width < 820px){
    .center-text h1{
        font-size: 30px;
        line-height:50px ;
        font-weight: 400px;
        max-width: 550px;
    }
    .center-text p{
        font-weight: 300;
        margin-bottom: 10px;
    }
    

        main{
            margin:0px 50px;
           }
           .container>h2{
            font-size: 16px;
            
           }
           .sub-content{
            display: grid;
            grid-template-columns: repeat(2,1fr);
            padding: 30px ;
        }
        .tv , .smile , .scope ,.arrow{
            margin: 10px;
            padding: 10px;
            width: 300px;
            height: 160px;
            display: flex;
            flex-direction: column;
            gap: 45px;
            border-radius: 10px;
            background-color: rgb(18, 36, 36);
        
        }
        .under{
            margin-top:-20px;
            margin-bottom: 20px;
            font-size: 30px;
            margin-left: 220px;
        }
        .arou{
            margin-top: -50px;
            font-size: 50px;
            margin-left: 220px;
        }
        .sunder{
            margin-top:-20px;
            font-size: 35px;
            font-weight: 30;
            margin-left: 220px;
        }
        
        .munder{
            margin-top:-30px;
            font-size: 40px;
            margin-left: 220px;
        }
        .accordion{
            margin: 60px;
            width: 100%;
            max-width:600px;
        
        }
      
        
        
        
        }
          
@media screen and (width < 780px){
    .center-text h1{
        font-size: 30px;
        line-height:50px ;
        font-weight: 400px;
        max-width: 550px;
    }
    .center-text p{
        font-weight: 250;
        margin-bottom: 10px;
    }
    

        main{
            margin:0px 50px;
           }
           .container>h2{
            font-size: 16px;
            
           }
           .sub-content{
            display: grid;
            grid-template-columns: repeat(2,1fr);
            padding: 30px ;
        }
        .content>h1{
            font-size: 20px;
        }
        .tv , .smile , .scope ,.arrow{
            margin: 10px;
            padding: 10px;
            width: 300px;
            height: 180px;
            display: flex;
            flex-direction: column;
            gap: 45px;
            border-radius: 10px;
            background-color: rgb(18, 36, 36);
        
        }

        .under{
            margin-top:-16px;
            margin-bottom: 20px;
            font-size: 30px;
            margin-left: 230px;
        }
        .arou{
            margin-top: -40px;
            font-size: 50px;
            margin-left: 230px;
        }
        .sunder{
            margin-top:-10px;
            font-size: 35px;
            font-weight: 30;
            margin-left: 230px;
        }
        
        .munder{
            margin-top:-15px;
            font-size: 40px;
            margin-left: 230px;
        }
        .accordion{
            margin: 60px;
            width: 100%;
            max-width:550px;
        
        }
        .container-scroll>h1{
            font-size: 20px;
        }
        .smallone{
            display: none;
        }
      .footer{
        display: grid;
        gap: 20px;
        grid-template-columns: repeat(2,1fr);
      }
      footer>p{
        padding: 10px;

      }
        
        
        
        }
@media screen and (width < 690px){
            .center-text h1{
                font-size: 30px;
                line-height:50px ;
                font-weight: 400px;
                max-width: 550px;
            }
            .center-text p{
                font-weight: 250;
                margin-bottom: 10px;
            }
            
        
                main{
                    margin:0px 50px;
                   }
                   .container>h2{
                    font-size: 13px;
                    
                   }
                   .sub-content{
                    display: grid;
                    grid-template-columns: repeat(1,1fr);
                    padding: 30px ;
                }
                .content>h1{
                    font-size: 30px;
                }
                .tv , .smile , .scope ,.arrow{
                    margin: 10px;
                    padding: 20px;
                    width: 500px;
                    height: 180px;
                    display: flex;
                    flex-direction: column;
                    gap: 10px;
                    border-radius: 10px;
                    background-color: rgb(18, 36, 36);
                
                }
        
                .under{
                    margin-top:60px;
                    margin-bottom: 20px;
                    font-size: 30px;
                    margin-left: 400px;
                }
                .arou{
                    margin-top: 60px;
                    font-size: 50px;
                    margin-left: 400px;
                }
                .sunder{
                    margin-top:60px;
                    font-size: 35px;
                    font-weight: 30;
                    margin-left: 400px;
                }
                
                .munder{
                    margin-top:60px;
                    font-size: 40px;
                    margin-left: 400px;
                }
                .accordion{
                    margin: 60px;
                    width: 100%;
                    max-width:480px;
                
                }
                .container-scroll>h1{
                    font-size: 20px;
                }
                .smallone{
                    display: none;
                }
              .footer{
                display: grid;
                gap: 20px;
                grid-template-columns: repeat(2,1fr);
              }
              footer>p{
                padding: 10px;
        
              }
                
                
                
                }
 @media screen and (width < 570px){
   
    
    .logo{
        width: 80px;
        cursor:pointer;
    }
    .lang-btn{
        display: inline-block;
        align-items: center;
        background-color: transparent;
        border:1px solid #ccc  ;
        color: #fff;
        padding:3px ;
        outline: none;
        border:2px solid;
    }
    .sign{
        background-color: red;
        width: 60px;
        height: 35px;
        padding: 4px;
    }
    
                    .center-text h1{
                        font-size: 20px;
                        line-height:30px ;
                        font-weight: 400px;
                        max-width: 550px;
                    }
                    .center-text p{
                        font-weight: 250;
                        margin-bottom: 10px;
                    }
                    
                
                        main{
                            margin:0px 50px;
                           }
                           .container>h2{
                            font-size: 10px;
                            
                           }
                           .sub-content{
                            display: grid;
                            grid-template-columns: repeat(1,1fr);
                            /* padding: 30px ; */
                        }
                        .content>h1{
                            font-size: 15px;
                        }
                        .tv , .smile , .scope ,.arrow{
                            margin: 10px;
                            padding: 10px;
                            width: 225px;
                            height: 180px;
                            display: flex;
                            flex-direction: column;
                            gap: 45px;
                            border-radius: 10px;
                            background-color: rgb(18, 36, 36);
                        
                        }
                
                        .under{
                            margin-top:-16px;
                            margin-bottom: 20px;
                            font-size: 30px;
                            margin-left:170px;
                        }
                        .arou{
                            margin-top: -40px;
                            font-size: 50px;
                            margin-left:170px;
                        }
                        .sunder{
                            margin-top:-10px;
                            font-size: 35px;
                            font-weight: 30;
                            margin-left: 170px;
                        }
                        
                        .munder{
                            margin-top:-30px;
                            font-size: 40px;
                            margin-left: 170px;
                        }
                        .accordion{
                            margin: 40px;
                            width: 100%;
                            max-width:250px;
                        
                        }
                        .container-scroll>h1{
                            font-size: 12px;
                        }
                        .smallone{
                            display: none;
                        }
                      .footer{
                        display: grid;
                        gap: 20px;
                        grid-template-columns: repeat(1,1fr);
                      }
                      footer p{
                        padding: 5px;
                

                      }
                      .accordion li label{
                        display: flex;
                        align-items: center;
                        padding: 20px;
                        font-size:12px;
                        font-weight: 500;
                        background: #303030;
                        margin-bottom: 2px;
                        cursor: pointer;
                        position: relative;
                        
                    
                    }
                    .accordion .content{

                        background: #303030;
                        text-align: left;
                        padding: 0 10px;
                        max-height: 0;
                        font-size: 12px;
                        overflow: hidden;
                        transition: max-height 0.5s, padding 0.5s;
                    }
                        
                        
                        
 }