*{
    margin: 0px;
    padding: 0;
    box-sizing: border-box;

}
.container{
    width: 400px;
    height: 600px;
    display: grid;
    align-items: center;
    border: 2px solid ;
    justify-content: center;
    margin: 120px;
    background-color: black;
    grid-template-columns: 1fr;
    /* align-items: center;
    justify-content: center; */
    /* align-content: center; */
    gap: 20px; 
    padding: 20px;


   
}
.container input{
    height: 40px;
}  
body{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
